body {
  height: 100vh;
  margin-left: 0px;
  marin-right: 0px;
}
/* #map-canvas {
  background-color: 'black';
  width: 50%;
  height: 50%;
  transform: translate(50%, 0);
} */
#funct {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
}
#buttn{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
}
#details{
  border-radius: 10px;
  border: 3px solid black;
  /* margin-left: auto + 30; */
  margin-right: auto;
  /* padding-left: 30px; */

}
.padding {
  padding-bottom: 20px;
}

.button {
    border: none;
    color: white;
    /* padding: 16px 32px; */
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}
.button3 {
    background-color: white;
    color: black;
    border: 2px solid #c40000;
}

.button3:hover {
    background-color: #c40000;
    color: white;
}
.button4 {
    background-color: white;
    color: black;
    border: 2px solid #027027;
}

.button4:hover {
    background-color: #027027;
    color: white;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

}

.flex-child {
    text-align: center;
    margin: 4px 2px;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
    margin-right:5px;
    /* width: 100px; */
}
p{
  margin:0;
}
p + p{
  margin-top:10px;
}
